@color-body: #bbb;//#1565c0;//linear-gradient(45deg, #ffa726, #ffb74d, #ffcc80 );//#e0e0e0;
@color-border: #bbb;
@color-wrap:  rgba(251,251,251, 0.99);
@color-section: #800909;//rgba(21, 101, 192, 1);//rgba(21, 101, 192, 1);//rgba(230,230,230, 0.95);//rgba(245,245,55,0.1);
@color-sh-black: rgba(0,0,0,0.5);
@color-sh-section: rgba(0,0,0,0.5);//rgba(227,242,253,1);
@color-aside: #FEC560;
@color-sh-hover: rgba(89, 1, 1, 1);//rgba(21, 101, 192, 0.8);//
@color-border-radius: rgba(0,0,0,0);

@tablet: 992px;
@mobile: 768px;
@desktop: 1200px;
	

// Siderbar and sideblock
.sidebar{
	padding-left: 5px;
	border-radius: 10px;
	height: 85vh;
	box-sizing: border-box;
}

.aside-block{
	height: 85vh;
	position: relative;	
}

// Sidebar and side block END
.main-page-content{
}

// Poem, hokky, anekdot content
.poem-poem, .hokky-hokky{
	white-space: pre-wrap;
}

.anekdot-anekdot{
	text-align: justify;
}

// Poem, hokky, anekdot content END

.main-page-title, .main-page-more{
	border-radius: 5px;
	background-color: @color-wrap;
	box-shadow: 0 0 10px @color-sh-black;	
	padding-left: 20px;
}

.main-page-more{
	display: inline-block;
	width: 100%;	
}

.main-page-title{	
	display: block;
	margin-top: 25px;	
}

.poems-row{
	position: relative;
	margin-right: 0;
    margin-left: 0;
}

.main-page-post, .aside-block{
	border-radius: 10px;
	padding: 10px;
	background-color: @color-section;
	
	margin-bottom: 15px;
	//box-shadow: 0 0 10px rgba(0,0,0,0.5);
	
	box-shadow: inset 0px 0px 7px 2px @color-sh-section;
}

// Poem, hokky, anekdot wrap 

.poem-wrap, .hokky-wrap, .anekdot-wrap{
	margin: 3px;
	border-radius: 5px;
	background-color: @color-wrap;
	box-shadow: 0 0 10px @color-sh-black;
	margin-bottom: 10px;
	padding: 15px;
	box-shadow: inset 0px 0px 10px 2px @color-sh-section;
}

// Poem, hokky, anekdot wrap END

.main-page-post article{
	padding: 0;
}


.post-hokky, .post-poem{
	//border-left: 10px solid #ffc107;
	border-radius: 5px;
	margin-bottom: 10px;	
}






.poem-header, .poem-body, .hokky-body, .anekdot-body{
	border-bottom: 1px solid @color-border;
}

.btn-comment{
	padding-left: 0;
}

.circle-border{
	background: @color-wrap;
	border-radius: 5px;	
	box-shadow: inset 0px 0px 10px 2px @color-sh-section;
	padding: 10px;
	//box-shadow: 0 0 10px @color-sh-black;	
}

//EAuth style

.eauth-service-link{
	filter: grayscale(100%);
}
.eauth-service-link{
	&:hover{
		filter: grayscale(0%);
		transition: 1s;
	}
}

//EAuth style END

// Body style

body{
	background: @color-body;
	background-attachment: fixed;
	.dotted();
}

.dotted() {
  //padding: 2.25em 1.6875em;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
 }

// Body style END



// Poems style
.poem-poem{
	height: 180px;
}

.poems-row .poem-wrap{
	&:hover{
		box-shadow: inset 0px 0px 15px 5px @color-sh-hover;
		border-top-right-radius: 50px;
	}
}

// Poems style END


// Comment aling

.comment-section{
	padding-left: 0;
	margin-top: -3px; 
}

.comment-container{
	min-height: 350px;
}

// Comment aling END

// Backgroud for desktop

@media (min-width: @desktop)
{
	body{
		background: url(/poem/web/img/bg.gif);
		background-repeat: no-repeat;
		background-attachment: fixed;
		//background-size: 100%;
	}
}

// Backgroud for desktop END


// for admin

.detail-view{
	background: #ccc;
}
.table-bordered{
	background: #ccc;
}

// for admin END


// Image foe avaatar

.profile-img{
	max-width: 120px;
	float: left;
	margin: 5px;
	margin-right: 35px;
	box-sizing: border-box;
	&:hover{	
		box-shadow: outset 0px 0px 10px 5px @color-sh-section;	
	}

}

.checked-ava{
	&:after{
		background: #ccc;
		//background-image: (poem/web/img/check_yes.png);
	}
}

.body-image{
    margin: 0 auto;
    display: flex;
    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
    -webkit-flex-flow: row wrap;	
    justify-content: space-around;
}

.checked-img{
	filter: grayscale(100%);
}

// Image foe avaatar END


// Anekdot fix

.post-anekdots{
	padding: 0 15px;
}

// Anekdot fix END

// profile


.body-profile{
    width: 100%;
    display: inline-block;
}

.profile-left{
    float: left;
    span{
    	font-weight: bold;
    	margin-left: 15px;
    }
}

.profile-right{
    float: right;
}

#change-form{
	margin-top: 20px;
	margin-left: 20px;
}

// Profile end


/// alls

@block-height: 450px;
@poem-height: 340px;
@anekdot-color-odd: #aaa; //#177245;
@anekdot-color-even: #ccc; //#1faee9;
@tablet: 992px;
@mobile: 768px;
@desktop: 1200px;
@color-bg: rgba(241,241,241,0.9);

.navbar-form{
}




.hokky, .bl-art{
    white-space: pre-line;
}


@media (min-width: @tablet) {
    .jap-theme{
        background: url('/poem/web/img/jap2.jpg'), url('/poem/web/img/jap2xs.jpg');
        background-repeat: no-repeat, repeat;
        background-attachment: local, none;
        background-size: 100%;
        background-color: #f5f5f5;
        //height: 85vh;
    }
}

@media (min-width: @desktop) {
    .login-theme{
        background: url('/poem/web/img/login2.gif');
        background-repeat: no-repeat;
        background-attachment: fixed;
       	background-position: right, bottom; 
    }
    @font-face {
    	font-family: Pushkin;
    	//src: url(/poem/web/fonts/10112.otf);
    	src: url(/poem/web/fonts/9540.ttf);
    }
    .site-login  {
    	font-family: Pushkin;
    	font-size: 1.5em;
    	font-weight: bold;
    }
    .site-login .btn, input{
    	font-family: "Helvetica Neue", Helvetica;
    }
}

.bl-hokky{
    border-bottom: 3px double #ccc;
    text-align: center;
    vertical-align: middle;
    display: table;
    width: 100%;
    padding: 20px 0;
}



@media (min-width: @mobile) {
    .bl-hokky{
        border-bottom: 3px double #ccc;
        text-align: center;
        vertical-align: middle;
        display: table-cell;        
        width: 250px;
        height: 200px;
    }
    .bl-hokky .btn {
    }
    .bl-hokky .btn{
    	&:hover{
    		text-shadow: 1px 1px 2px #337AB7, 0 0 1em #337AB7;
    	}
    }
}

.block(){
    border: 2px solid #FFCD25;    
    margin: 0 auto;
    background-color: #eee;
    position: relative;
    
}

.bl-poem{
    &:extend(.block);
    box-sizing: border-box;
    height: @block-height;
    z-index: 0;
    border-radius: 25px 0 25px 0;
    background: #ffb60f;
    background: radial-gradient(circle at 80px 40px, #F2DDA0, #EFD581, #F0CB50);
}

.poem{
    position: relative;
    z-index: 1;    
    height: @poem-height;
    overflow: hidden;
    margin: 0 auto;
    white-space: pre-line;
}

// fix button

#insert{
	width: 100%;
	display: inline-block;
}

//Login

.site-login{
	background: @color-wrap;
	padding: 10px;
	border-radius: 5px;
}

//Login End