html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: auto;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/*  мой код   */
@block-height: 450px;
@poem-height: 340px;
@anekdot-color-odd: #aaa; //#177245;
@anekdot-color-even: #ccc; //#1faee9;
@tablet: 992px;
@mobile: 768px;
@desktop: 1200px;

.block(){
    border: 2px solid #FFCD25;    
    margin: 0 auto;
    background-color: #eee;
    position: relative;
    
}

.bl-poem{
    &:extend(.block);
    box-sizing: border-box;
    height: @block-height;
    z-index: 0;
    border-radius: 25px 0 25px 0;
    background: #ffb60f;
    background: radial-gradient(circle at 80px 40px, #F2DDA0, #EFD581, #F0CB50);
}

.poem{
    position: relative;
    z-index: 1;    
    height: @poem-height;
    overflow: hidden;
    margin: 0 auto;
    white-space: pre-line;
}

.blur-text{
    color: transparent;
    text-shadow: 0 0 5px #000;
}

.bl-post{
    margin-bottom: 20px;
}

.modal-content{
    &:extend(.block);
}

.ya-share2{
    display: inline-block;
    float: left;
}

.item-rule{
    list-style-type: none;
}

.modal-poem{
    white-space: pre-line;
}

.pagination{
    margin: 20px auto;
    clear: both;
    display: table;
}

.poem, .poem-title, .poem-autor{
    //padding: 15px 20px;
}

.bl-poem div{
    &:nth-of-type(odd){
        padding-top:15px;
        padding-bottom:15px;
    } 
    &:nth-of-type(even){
        background-color: rgba(.8,.8,.8,0.05);
    }
}

.block-quote div{    
    border-radius: 10px;
    padding: 20px;
    position: relative;
    color: #fff;
    margin-bottom: 20px;

    &:nth-of-type(odd){
        background-color: @anekdot-color-odd;
        &:after{
            left: -30px; bottom: 10px;
            border-right: 20px solid @anekdot-color-odd; 
        }
    }

    &:nth-of-type(even){
        background-color: @anekdot-color-even;
        &:after{
            right: -30px; bottom: 10px;
            border-left: 20px solid @anekdot-color-even; 
        }
    }

    &:after{
        content: ''; 
        position: absolute;
        border: 10px solid transparent; 
    }
}

.navbar-form{
}

.btn-black{
    background-color: #222;
    color: #fff;
}

.bl-anekdot p {
    display: block;
}

.anekdot-autor{
    text-align: right;
}

.hokky, .bl-art{
    white-space: pre-line;
}


@media (min-width: @tablet) {
    .jap-theme{
        background: url('/poem/web/img/jap2.jpg'), url('/poem/web/img/jap2xs.jpg');
        background-repeat: no-repeat, repeat;
        background-attachment: local, none;
        background-size: 100%;
        background-color: #f5f5f5;
        //height: 85vh;
    }
}

@media (min-width: @desktop) {
    .login-theme{
        background: url('/poem/web/img/login2.gif');
        background-repeat: no-repeat;
        background-attachment: fixed;
       	background-position: right, bottom; 
    }
    @font-face {
    	font-family: Pushkin;
    	//src: url(/poem/web/fonts/10112.otf);
    	src: url(/poem/web/fonts/9540.ttf);
    }
    .site-login  {
    	font-family: Pushkin;
    	font-size: 1.5em;
    	font-weight: bold;
    }
    .site-login .btn, input{
    	font-family: "Helvetica Neue", Helvetica;
    }
}

.bl-hokky{
    border-bottom: 3px double #ccc;
    text-align: center;
    vertical-align: middle;
    display: table;
    width: 100%;
    padding: 20px 0;
}



@media (min-width: @mobile) {
    .bl-hokky{
        border-bottom: 3px double #ccc;
        text-align: center;
        vertical-align: middle;
        display: table-cell;        
        width: 250px;
        height: 200px;
    }
    .bl-hokky .btn {
    }
    .bl-hokky .btn{
    	&:hover{
    		text-shadow: 1px 1px 2px #337AB7, 0 0 1em #337AB7;
    	}
    }
}

#btn-more-hokky{
    margin-top: 25px;
}

.lang-form{
	margin: 0;
	margin-bottom: 15px;
}

.lang-form .lang{
	float: left;
}

.lang-row{
	padding-bottom: 20px;
}


#vk_groups, #vk_groups iframe, .fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}

.wcomments_head, ._wcomments_head{
    background-color: #333 !important;
}

.styled-select {
   background: url(/poem/web/img/select.jpg) no-repeat 94% 0;
   height: 34px;
   overflow: hidden;
   width: 150px;
   margin-right: 20px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 34px;
   padding: 5px;    
   width: 170px;
}


.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 4px;
}

.black { 
	background-color: #444; 
}
.black select   { 
	color: #fff; 
	background-color: #444; 
}

.poem-rule {
	list-style: none;
	padding: 0;
}
.poem-rule li {
	.poem-ruleC(#f05d22);
}

.title-rule{
	.poem-ruleC(red);
	border-right: 10px solid red;
	border-left: 15px solid red;
}

.poem-ruleC(@color){
padding: 7px 20px;
margin-bottom: 10px;
border-radius: 5px;
border-left: 10px solid @color; 
box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
     -2px -2px 5px 0 rgba(0,0,0,.1),
    2px 2px 5px 0 rgba(0,0,0,.1),
    -2px 2px 5px 0 rgba(0,0,0,.1);
font-size: 1em;
letter-spacing: 1px;
transition: 0.3s all linear;
}

.comment{
	border: 1px solid #bbb;
	margin: 5px;
	border-radius: 5px;
	padding: 10px;
	padding-bottom: 20px; 
	//display: table;	
	//width: 100%
}

.comment-img img{
	width: 50px;
	box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
     -2px -2px 5px 0 rgba(0,0,0,.1),
    2px 2px 5px 0 rgba(0,0,0,.1),
    -2px 2px 5px 0 rgba(0,0,0,.1);
}

.comment-img {
	width: 55px;
	float: left; 	
	margin-right: 10px;
}

.comment-body{
	overflow: hidden;
}
.comment-username, .comment-date  {
	display: inline;
}
.comment-body div span{
	font-weight: bold;
}